---
name: CI
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v6
      with:
        set-safe-directory: ${{ github.workspace }}
    - uses: cliffano/command-docker-action@v1.4.0
      with:
        command: 'make ci'
        image: cliffano/studio:3.1.0
